* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* HEADER -------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100px;
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 10px;
  border: #AAD1D7 solid 5px;
}

header .logo {
  width: 120px;
  padding-top: 5px;
  padding-left: 20px;
}

header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header li {
  margin-left: 30px; /* Añade un margen entre los elementos si es necesario */
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
}

.icono-casa {
  width: 20px;
}


/* BANNER -------- */
.banner_hp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.logo_banner {
  height: 200px;
  padding-top: 10px;
  padding-left: 20px;
}

article p {
  font-size: 15px;
  color: #a5a5a5;
  font-weight: bold;
}


/* FORMULARIO DE BÚSQUEDA -------- */
.form-busqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-busqueda input {
  width: 70vw;
  padding-left: 10px;
}

.form-busqueda article img {
  width: 25px;
  padding-right: 5px;
}

/* RECETAS -------- */
.products-section {
  padding: 20px;
  background-color: #F0EBE0;
}

.products-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.products-section .description {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 30px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product {
  text-align: center;
  max-width: 200px;
}

.product img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.product p {
  font-size: 0.9em;
  color: #666;
  margin: 5px 0;
}

.product .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #8b6b42;
}

/* FOOTER -------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: #f18847;
}

.footer article img {
  width: 120px;
}

.footer article h1 {
  color: white;
  text-decoration: underline;
}

.footer article p {
  color: white;
  text-align: left;
  font-weight: normal;
}

.footer article ul li {
  color: white;
  text-align: left;
}


.boxed {
  max-width: 100%;
  margin-top: 0 auto;
  padding: 20px;
}
  
.grids {
  display: flex;
  flex-wrap: wrap; /*cada elemento debe teener un width*/
  justify-content: space-around;
  padding: 30px 20px  ; /*arriba y abaajo, a los costaods*/
}

.grids article {
  width: 25%;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; /*para que me quede el nombre y  la imágen centrada*/
  justify-content: center;
  align-items: center;
  padding: 10px 0 15px;
}

.grids article img {
  width: 60%;
}


article img,
article h1,
article p,
article h2 {
  margin-bottom: 10px; /* Ajusta el valor según el espacio que desees */
}

article p {
  color: rgba(181, 181, 181, 0,1);
}

.grids a {
  padding: 7px 7px ;
  background-color: black;
  color: white;
  text-decoration: none;
}


.grids2 {
  display: flex;
  flex-wrap: wrap; /*cada elemento debe teener un width*/
  justify-content: space-around;
  padding: 30px 20px  ; /*arriba y abaajo, a los costaods*/
}

.grids2 article {
  width: 25%;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; /*para que me quede el nombre y  la imágen centrada*/
  justify-content: center;
  align-items: center;
  padding: 10px 0 15px;
}

.grids2 article img {
  width: 60%;
}

.grids2 a {
  padding: 7px 7px ;
  background-color: black;
  color: white;
  text-decoration: none;
}


/*


/*
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 20px;
  max-width: 100%;
  border-top: 1px solid #ffffff;
  background-color: black;
}

Estilo para cada sección 
footer section img {
  flex: 1;
  margin: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  max-width: 30%;
  border-left: 1px;
  border-bottom: 1px;
  border-top: 1px;
}

footer section.shop {
  flex: auto;
  margin: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  max-width: 30%;
  border-left: 1px;
  border-bottom: 1px;
  border-top: 1px;
} 

footer section img {
  width: 100%; 
  max-width: 220px; 
}

footer h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

footer p {
  margin: 5px 0;
  font-size: 16px;
  color: white;
} */



/* PRODUCTOOOOOOOSSSSS */


section.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: 1px solid black;
  padding: 10px 0 10px;

}

section.cart p {
  margin-left: 20px ;
}

section.cart a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(255, 254, 254);
  border: 1px solid black; 
  background-color: black;
  padding: 7px;
}

section.producto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

section.producto img {
  border: 1px solid black;
  width: 350px;
  margin-left: 29px;
  margin-bottom: 20px;
  margin-right: 20px;
}

section.nombre {
  margin-right: 20px;
  text-align: center;
}


section.cantidad {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

section.cantidad p {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.nombre .hola {
  border: 1px solid black;
  padding: 7px 6px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-top: 20px; /* Añade un margen superior para separar del resto del contenido */
}

 /* CHECKOUUUUUUUUT */
 
 body h1 {
  margin-top: 20px;
 }

 body p {
  margin-bottom: 20px;
 }

 body h1, body p {
  text-align: center;  
 }

 section.formyeso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
 }
section.formyeso .boldeame {
  font-weight: bolder;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura que el texto ocupe todo el ancho del contenedor */
  margin-left: 0; /* Ajusta el margen izquierdo según sea necesario */
  padding-left: 30px;
  margin-bottom: 10px;
}

form {
  width: 100%; /* ajusta el ancho del formulario segun sea necesario*/
  margin-left: 30px; 
  margin-bottom: 10px;
}
form input {
  height: 40px; /* ajsuta el ancho de los inputs para que ocupen todo el espacio del forms */
  width: 100%;
  margin-bottom: 10px; /*añade un margen superior para separar los inputs */
}

section .itemscart .b2 {
  border-bottom: 1px solid black;
}

section .itemscart {
  margin-right: 40px;
}

section.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.back p {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 10px;
}